<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <thymeleaf th:replace="header :: header" />
    <title>BloodStreet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="css/blood.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="donor-header">

        <h1 class="donor-name">Donor Name</h1>

    <div class="row"></div>
    <div class="profile-pic">
        <img src="resources/donor-200x194.png">
    </div>
    <span class="switch"><div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switch">
        </span>
            <label class="custom-control-label" for="switch">Available for donation</label>
        </div>
    </div>

</div>
</div>


    <div class="reviews">
        <h2 class="text-center">Your reviews</h2>

        <div class="container">


            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="resources/default-80x80.png" class="img img-rounded img-fluid" />
                            <p class="text-secondary text-center">December 12, 2019</p>
                        </div>
                        <div class="col-md-10">
                            <p>
                                <a class="sucker-name float-left" href=""><strong>sucker_42069</strong></a>
                                <span class="float-right"><i class="fa fa-star checked" id="one"></i></span>
                                <span class="float-right"><i class="fa fa-star checked" id="two"></i></span>
                                <span class="float-right"><i class="fa fa-star checked" id="three"></i></span>
                                <span class="float-right"><i class="fa fa-star checked" id="four"></i></span>
                                <span class="float-right"><i class="fa fa-star checked" id="five"></i></span>
                            </p>
                            <div class="clearfix"></div>
                            <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
                                typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                                release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <p>
                                <hr>
                                <a class="reply-btn float-right btn text-white btn-danger">Reply</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="card donor-dashboard-review">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="resources/default-80x80.png" class="img img-rounded img-fluid" />
                            <p class="text-secondary text-center">December 12, 2019</p>
                        </div>
                        <div class="col-md-10">
                            <p>
                                <a class="sucker-name float-left" href=""><strong>sucker_42069</strong></a>
                                <span class="float-right"><i class="fa fa-star unchecked" id="one"></i></span>
                                <span class="float-right"><i class="fa fa-star unchecked" id="two"></i></span>
                                <span class="float-right"><i class="fa fa-star checked" id="three"></i></span>
                                <span class="float-right"><i class="fa fa-star checked" id="four"></i></span>
                                <span class="float-right"><i class="fa fa-star checked" id="five"></i></span>
                            </p>
                            <div class="clearfix"></div>
                            <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
                                typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                                release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <hr>
                            <p>
                                <a class="reply-btn float-right btn text-white btn-danger">Reply</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>








    </div>

</body>